
<div class="ui blue inverted massive menu">
      <a class="item">
        CollectBay
      </a>

      <div class="right menu">
        <a class="item" href="/collect">
          Collect
        </a>
        <a class="item" href="/cues">
          Cues
        </a>
        <a class="item" href="/connect">
          Connect
        </a>
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search..." />
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>
<div class="ui raised very padded text container segment">
<table class="ui blue inverted striped table">
  <thead>
    <tr>
      <th scope="col">Collection type</th>
      <th scope="col">Number of items in each collection</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>    

    {{#each comics}}
    <tr>
      <td scope="row">{{title}}</td>
      <td>{{collectionCount}}</td>
      <td>{{id}}</td>
    </tr>
    {{/each}}

  </tbody>
</table>
</div>

<div class="ui grid" id="inputComic" style="justify-content: space-evenly">
  <div class="three wide column">
    <div>
        <div class="ui form">
          <div class="field">
            <label>Category</label>
            <input type="text">
            <label>Publisher</label>
            <input type="text">
            <label>Title</label>
            <input type="text">
            <label>Issue</label>
            <input type="text">
            <label>Quality</label>
            <input type="text">
          </div>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
          <div class="ui form">
          <div class="field">
            <label>Category</label>
            <input type="text">
          </div>
      </div>    
  </div>

</div>



