<div class="container">
<div class="ui massive menu">
  <a class="item" href="/"><h1 class="ui white inverted header">CollectBay</h1></a>


  <div class="right menu">
    <a class="item" href="/collect"><h4 class="ui white inverted header">Collect</h4></a>
    <a class="item" href="/cues"><h4 class="ui white inverted header">Cues</h4></a>
    <a class="item" href="/connect"><h4 class="ui white inverted header">Connect</h4></a>
  </div>
  </div>
<div class="ui raised very padded text container segment">
  <h2 class="ui inverted white header center aligned">Search For News About Your Collection:</h2>
    <div class="search">
        <script async src="https://cse.google.com/cse.js?cx=016431444359799167158:lpjv6x6s37m"></script>
        <script src="/customSearchFiles/customSearch.js"></script>
        <div class="gcse-search"></div>
    </div>
</div>
</div>